
{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block content %} 

<!-- Text -->
      <h3 class="text-muted" style="text-align: center; padding-top: 50px;">
        What is CRL + COPY? 
        </h3>
        <div class="text-muted" style="padding-left:220px; padding-right:220px; padding-top:40px; text-align:center;">
          CRTL + COPY offers a full plagiarism scan to submitted documents and provides not only a report about how much plagiarized the document is, but also where it was found. Everyone can use this software. It is not mandatory to have a profile in the website, since students can use it only to check levels of plagiarism and not submit the documents right after this process, giving them an opportunity to rewrite the plagiarized parts. 
        </div>	
        
<!-- Icons -->
        <div class="container text-center text-md-center my-5">
            <div class="row">
              <div class="col-sm-3 mx-auto">
          <img src="{% static 'img/upload.jpeg' %}" width="100" height="100" alt="">
          <figcaption class="text-muted my-2"> Allows document submission for universities </figcaption>
              </div>
              <hr class="clearfix w-50 d-md-none">
              <div class="col-sm-3 mx-auto">
          <img src="{% static 'img/percentage_doc.jpeg' %}" width="200" height="100" alt="">
          <figcaption class="text-muted my-2"> Provide document's plagiarism percentage </figcaption>
              </div>
              <hr class="clearfix w-50 d-md-none">
              <div class="col-sm-3 mx-auto">
          <img src="{% static 'img/django_algorithm.jpeg' %}" width="100" height="100" alt="">
          <figcaption class="text-muted my-2"> Plagiarism checker algorithm </figcaption>
              </div>
            </div>
          </div>
	  
	  
  

<!-- Text 2 -->
<h3 class="text-muted" style="text-align: center; padding-top: 50px;">The Creators</h3>
<img src="{% static 'img/limitless.png' %}" width="200" height="200" class="mx-auto d-block my-3">
    <div class="text-muted" style="padding-left:220px; padding-right:220px; padding-top:40px; text-align:center;">
        LimITless is a start-up founded by four NOVA IMS bachelor students. LimITless is headquartered in Lisbon, Portugal. Since 2019 has been helping local companies and brands in need of guidance with their projects, reimagine their business by building impactful, innovative and unique digital engineering solutions powered by the latest technologies. This start-up is fictional and was “created” only for these students PSI project.
    </div>

<!-- LimITless -->

<!-- Icons 2 -->
<div class="container text-center text-md-center my-5">
    <div class="row">
      <div class="col-sm-3 mx-auto">
  <img src="{% static 'img/mission.png' %}" width="100" height="100" alt="">
  <figcaption class="text-muted my-2"> Our mission </figcaption>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">
  <img src="{% static 'img/vision.png' %}" width="100" height="100" alt="">
  <figcaption class="text-muted my-2"> Our Vision </figcaption>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">
  <img src="{% static 'img/values.png' %}" width="100" height="100" alt="">
  <figcaption class="text-muted my-2"> Our Values </figcaption>
      </div>
    </div>
  </div>

  <!-- Mission, Vision, Values -->
<div class="container text-center text-md-center my-5">
    <div class="row">
      <div class="col-sm-3 mx-auto ">

  <p class="text-justify text-muted">Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. </p>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">

  <p class="text-justify text-muted">Ensure that we provide the right resources at the right time to maximise our clients’ business potential. We strive for excellence and aim to exceed expectations. We work hard to achieve our goals and we encourage our staff to be ambitious. Retaining our competitive edge through innovation is central to the way we operate, and we are always looking to improve our business processes and services.</p>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">

  <p class="text-justify text-muted">We value always acting with honesty and integrity, constantly focusing on safety and quality, providing professional and technical excellence, promoting a cooperative team environment, respecting for our Employees, Clients and Partners and cultivating long-term relationships with our Clients.</p>
      </div>
    </div>
  </div>
  <hr class="my-4">{% load static %}

<!-- Icons 2 -->
<div class="container text-center text-md-center my-5">
    <div class="row">
      <div class="col-sm-3 mx-auto">
        
  <img src="{% static  'img/diogo_rasteiro.png' %}"  width="200" height="200" alt="">
  <figcaption class="text-muted my-2"> Diogo Rasteiro </figcaption>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">
  <img src="{% static  'img/joana_sampaio.png' %}" width="200" height="200" alt="">
  <figcaption class="text-muted my-2"> Joana Sampaio </figcaption>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">
  <img src="{% static  'img/mariana_martins.png' %}" width="200" height="200" alt="">
  <figcaption class="text-muted my-2"> Mariana Martins </figcaption>
      </div>
      <hr class="clearfix w-50 d-md-none">
      <div class="col-sm-3 mx-auto">
  <img src="{% static  'img/ricardo_peixoto.png' %}" width="200" height="200" alt="">
  <figcaption class="text-muted my-2"> Ricardo Peixoto </figcaption>
      </div>
    </div>
  </div>
{% endblock %}