{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} BI {% endblock %}

{% block content %} 

<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto text-center" >
            <img src="{% static 'img/books.png' %}" width="70" height="70" alt="">
            <h4 class="text-muted my-2"> Business Intelligence </h4>
          </div>
        </div>
    </div>
    

<!-- Blocks -->
          <container class=" my-3 " style="background-color: #176988; height: 50px;">
                <div class="container text-center text-md-center">
                  <div class="row">
                    <div class="col-sm-7">
                            <div class="container" >
                                    <div class="row">
                                      <div class=" mx-auto" style="width: 10000px;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 3%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                            
                                            <h5 class="text-muted my-2"> Course Details </h5>
                                            <p style="text-align: justify;">
                                                O principal objectivo da disciplina consiste em fazer compreender aos alunos as capacidades de apoio à decisão potenciadas pela utilização de processos de Business Intelligence e das Data Warehouses de suporte, bem como dar a conhecer as actuais tecnologias de informação e as metodologias de desenvolvimento de soluções de Business Intelligence ao nosso dispor. 
                                                No final do curso (BI I e II), os alunos deverão ser capazes de: 
                                                - Compreender o processo da BI e os factores que contribuem para maximizar o valor no negócio 
                                                - Conhecer as principais aplicações empresariais de Business Intelligence / Data Warehouses 
                                                - Identificar os indicadores chave das aplicações analíticas em contexto empresarial 
                                                 <h5 class="text-muted my-2">Professor Lectioning</h5>
                                                <button type="button" class="btn btn-md btn-info" >Prof. João Figueira</button>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                    <hr class="clearfix w-50 d-md-none">
                    <div class="col-lg-5 mx-auto">
                            <div class="container" >
                                    <div class="row">
                                      <div class="mx-auto" style="width: 100%;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <h5 class="text-muted my-2">Students Enrolled</h5>

                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Afonso Gonçalves</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Joana Fonseca</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Maria Simões</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Simão Coelho</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Tomás Wallenstein</button>
                                                         
                                                        </div>
                                                    </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                  </div>
                </div>
          </container>

{% endblock %}