{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} Comp I {% endblock %}

{% block content %} 

<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto text-center" >
            <img src="{% static 'img/books.png' %}" width="70" height="70" alt="">
            <h4 class="text-muted my-2"> Computation I </h4>
          </div>
        </div>
    </div>
    

<!-- Blocks -->
          <container class=" my-3 " style="background-color: #176988; height: 50px;">
                <div class="container text-center text-md-center">
                  <div class="row">
                    <div class="col-sm-7">
                            <div class="container" >
                                    <div class="row">
                                      <div class=" mx-auto" style="width: 10000px;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 3%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                            
                                            <h5 class="text-muted my-2"> Course Details </h5>
                                            <p style="text-align: justify;">
                                                The objective of this discipline is to introduce students to Computational Thinking and the basics of Programming. This discipline teaches the basics in Java programming.
                                                 <h5 class="text-muted my-2">Professor Lectioning</h5>
                                                <button type="button" class="btn btn-md btn-info" >Prof. João Figueira</button>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                    <hr class="clearfix w-50 d-md-none">
                    <div class="col-lg-5 mx-auto">
                            <div class="container" >
                                    <div class="row">
                                      <div class="mx-auto" style="width: 100%;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <h5 class="text-muted my-2">Students Enrolled</h5>

                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Inês Sabino </button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Liliana Dias </button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Mário Rui </button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Samuel Úria </button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Vasco Santana </button>
                                                         
                                                        </div>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                  </div>
                </div>
          </container>
{% endblock %}