{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} Geo Int {% endblock %}

{% block content %} 

<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto text-center" >
            <img src="{% static 'img/books.png' %}" width="70" height="70" alt="">
            <h4 class="text-muted my-2"> Geospatial Intelligence</h4>
          </div>
        </div>
    </div>
    

<!-- Blocks -->
          <container class=" my-3 " style="background-color: #176988; height: 50px;">
                <div class="container text-center text-md-center">
                  <div class="row">
                    <div class="col-sm-7">
                            <div class="container" >
                                    <div class="row">
                                      <div class=" mx-auto" style="width: 10000px;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 3%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                            
                                            <h5 class="text-muted my-2"> Course Details </h5>
                                            <p style="text-align: justify;">
                                                Após conclusão do curso com sucesso, os alunos deverão ser capazes de:
                                                Descrever as necessidades chave de Geoespacial Intelligence (GEOINT) relacionadas com a vigilância, aquisição de objectivos e navegação;
                                                
                                                Desenvolver estratégias, metodologias e ferramentas de gestão de informação geográfica, para analisar questões suscitadas pelo uso de informação de GEOINT;
                                                
                                                Modelar, monitorizar, e simular fenómenos geográficos, estratégicos, militares, demográficos e ambientais em diversos contextos de análise;
                                                 
                                                Utilizar ferramentas de exploração e metodologias análise para reduzir os níveis de incerteza relacionados com a resolução de problemas de natureza geográfica;
                                                
                                                Concepção e desenvolvimento de sistemas e tecnologias que atendam às necessidades de informação geográfica dentro de um contexto organizacional;
                                                 
                                                <h5 class="text-muted my-2">Professor Lectioning</h5>
                                                <button type="button" class="btn btn-md btn-info" >Prof. João Figueira</button>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                    <hr class="clearfix w-50 d-md-none">
                    <div class="col-lg-5 mx-auto">
                            <div class="container" >
                                    <div class="row">
                                      <div class="mx-auto" style="width: 100%;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <h5 class="text-muted my-2">Students Enrolled</h5>

                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Ana Botelho</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Carlos Coutinho</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Maria Simões</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Xavier Vilhena</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Zara Boris</button>
                                                         
                                                        </div>
                                                    </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                  </div>
                </div>
          </container>

{% endblock %}