{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} Load {% endblock %}

{% block content %} 

<!-- Load -->
              <div class="container" >
                    <div class="row my-5">
                      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" >
                        <div class="card card-signin my-5">
                          <div class="card-body" >
                            <h5 class="card-title text-center text-muted">Loading</h5>
                            <form class="form-signin" >
                              <div class="form-label-group">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75% "></div>
                                    </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
{% endblock %}