{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} Maria Simões {% endblock %}

{% block content %} 

<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto text-center" >
              <img src="{% static'img/professor2.png' %}" width="100" height="100" alt="">
            <h4 class="text-muted my-2">Student's Profile</h4>
          </div>
        </div>
    </div>
    

<!-- Blocks -->
          <container class=" my-3 " style="background-color: #176988; height: 50px;">
                <div class="container text-center text-md-center">
                  <div class="row">
                    <div class="col-lg-6">
                            <div class="container" >
                                    <div class="row">
                                      <div class=" mx-auto" style="width: 10000px;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 3%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <h5 class="text-muted">Information</h5>
                                                <hr>
                                            <h6 style="color: #BED62F;" >Name</h6>
                                            <p>Maria Simões</p>
                                            <hr>
                                            <h6 style="color: #BED62F;">Email</h6>
                                            <p>maria.simoes@gmail.com</p>
                                            <hr>
                                            <h6 style="color: #BED62F;">Academic Background</h6>
                                            <p> 3rd year Bachelor student in Information Systems and Technologies </p>    
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                    <hr class="clearfix w-50 d-md-none">
                    <div class="col-sm-6 mx-auto">
                            <div class="container" >
                                    <div class="row">
                                      <div class="mx-auto" style="width: 100%;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <h5 class="text-muted text-center">Enrolled Courses</h5>
                                                        <a href="geospatial_intelligence.html"> <button type="button" class="btn btn-lg btn-primary my-2"  style="background-color: #BED62F; border-color: #BED62F; ">Geospatial Intelligence</button> </a>
                                                        <a href="psi.html"> <button type="button" class="btn btn-lg btn-primary my-2"  style="background-color: #BED62F; border-color: #BED62F; ">Information Systems Projects</button> </a>
                                                        <a href="data_science.html"> <button type="button" class="btn btn-lg btn-primary my-2"  style="background-color: #BED62F; border-color: #BED62F; ">Data Science</button> </a>
                                                        <a href="business_intelligence.html"><button type="button" class="btn btn-lg btn-primary my-2"  style="background-color: #BED62F; border-color: #BED62F; ">Business Intelligence</button> </a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
          </container>
{% endblock %}