{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} Submited {% endblock %}

{% block content %} 

<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto" >
              <img class="mx-auto d-block"src="{% static 'img/gear.png' %}" width="70" height="70" alt="">
            <h5 class="text-muted my-2">Your document has been succesfully submited.</h5>
            <img class="mx-auto d-block" src="{%static 'img/check.gif' %}" width="400" height="300" alt="">
          </div>
        </div>
    </div>
    

{% endblock %}