{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} Web Marketing {% endblock %}

{% block content %} 
<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto text-center" >
            <img src="{% static 'img/books.png' %}" width="70" height="70" alt="">
            <h4 class="text-muted my-2"> Web Marketing </h4>
          </div>
        </div>
    </div>
    

<!-- Blocks -->
          <container class=" my-3 " style="background-color: #176988; height: 50px;">
                <div class="container text-center text-md-center">
                  <div class="row">
                    <div class="col-sm-7">
                            <div class="container" >
                                    <div class="row">
                                      <div class=" mx-auto" style="width: 10000px;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 3%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                            
                                            <h5 class="text-muted my-2"> Course Details </h5>
                                            <p style="text-align: justify;">
                                                Capítulo 1 (Panorama do comércio electrónico),fornece uma visão geral do actual ambiente de negócios, bem como dos fundamentos do comércio electrónico (CE) e algumas das suas terminologias. No Capítulo 2 (e-marketplaces: Resumo dos mecanismos de comércio electrónico) discute-se os mercados electrónicos, os seus mecanismos e os seus impactos; (onde é dada especial atenção aos blogs, wikis e mundos virtuais. O capítulo 3 (e-tailing: Produtos e serviços) e 4 (O comportamento do consumidor, marketing, Internet e publicidade) descrevem aplicações B2C CE. O Capítulo 3 aborda o comércio electrónico e indústrias de serviços electrónicos (por exemplo, viagens, e-banking).
                                                <h5 class="text-muted my-2">Professor Lectioning</h5>
                                                <button type="button" class="btn btn-md btn-info" >Prof. João Figueira</button>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                    <hr class="clearfix w-50 d-md-none">
                    <div class="col-lg-5 mx-auto">
                            <div class="container" >
                                    <div class="row">
                                      <div class="mx-auto" style="width: 100%;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <h5 class="text-muted my-2">Students Enrolled</h5>

                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Afonso Gonçalves</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; "> Joana Maria</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Mariana Andrade</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Ricardo Soares</button>
                                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Willyan Ribeiro</button>
                                                         
                                                        </div>
                                                    </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                  </div>
                </div>
          </container>
{% endblock %}