{% extends "plagiarism/base.html" %}
{% load static %}

{% block title %} AnalyseStu {% endblock %}

{% block content %} 
<!--Phrase-->
<div class="container my-4" >
        <div class="row">
          <div class="mx-auto" >
              <img class="mx-auto d-block"src="img/gear.png" width="70" height="70" alt="">
            <h4 class="text-muted my-2">Please test your paper below to check plagiarism percentage</h4>
          </div>
        </div>
    </div>
    

<!-- Blocks -->
          <container class=" my-3 " style="background-color: #176988; height: 50px;">
                <div class="container text-center text-md-center">
                  <div class="row">
                    <div class="col-sm-7">
                            <div class="container" >
                                    <div class="row">
                                      <div class=" mx-auto" style="width: 10000px;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                            <h5 class="text-muted">Inbox</h5>
                                            <p class="text-muted">Documents Submited</p>
                                            {% for doc in doc_list %}
                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">{{ doc }}</button>
                                            {% endfor %}
                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Joana Sampaio</button>
                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Mariana Martins</button>
                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Ricardo Peixoto</button>
                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">Sofia Santos</button>
                                            <button class="btn btn-sm btn-primary btn-block my-2" type="submit" style="background-color: #BED62F; border-color: #BED62F; ">João Silva</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                    <hr class="clearfix w-50 d-md-none">
                    <div class="col-lg-4 mx-auto">
                            <div class="container" >
                                    <div class="row">
                                      <div class="mx-auto" style="width: 100%;">
                                        <div class="card card-signin my-2" style="border-radius: 10%; padding: 4%; background-color: #fbfbfb">
                                          <div class="card-body" style=" border-style: dashed; border-color: #176988;">
                                                <form class="form-signin" >
                                                        <div class="form-label-group" >
                                                            <img class="mx-auto d-block"src="img/login.png" width="40" height="40" alt="">
                                                            <label> Upload File</label>
                                                            <input class="my-4" type="file" placeholder="Place your document here" required autofocus>
                                                        </div>
                                                        <button class="btn btn-lg btn-primary btn-block my-2" type="button" style="background-color: #BED62F; border-color: #BED62F; ">Test </button>
                                                        <hr class="my-3">
                                                        <p class="help-block text-md-center">* Only .txt and .docx allowed</p>
                                                      </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                  </div>
                </div>
          </container>
          <hr class="my-5">
          <script src="js/jquery-3.3.1.slim.min.js" ></script>
          <script src="js/popper.min.js" ></script>
          <script src="js/bootstrap.min.js" ></script>
          {% endblock %}